body{
    padding: 0px;
    margin: 0px;
    
}
/* ============================MY SKILLS===========================*/

#logo{
    display: none;
}
#sar{
    
border-bottom: 1px solid  rgba(241, 238, 243, 0.395);
background-color: rgba(164, 69, 45, 0.395);
padding: 7px;
    
    
}

#showmega{
    
    height: 400px;
    justify-content: center;
     display: grid;
    grid-template-columns: auto auto;
  font-size: 70px;
    margin-left: 550px;
    position: absolute; 
    
}
#showmega2{
   
    height: 350px;
    justify-content: center;
     display: grid;
     position: absolute; 
    font-size: 20px;
     margin-left: 850px;
    
}
#showmega3{
    height: 350px;
    justify-content: center;
     display: grid;
     position: absolute; 
    font-size: 20px;
     margin-left: 1000px;
}
#showmega4{
    height: 100px;
    justify-content: center;
     display: grid;
     position: absolute; 
    font-size: 20px;
     margin-left: 1150px;
}
li{
    list-style-type: none;
    font-size: 25px;
    
    
}
#ul1{
    display: flex;
    justify-content: center;
    

  
}
a{
    text-decoration: none;
    color: black;
    margin: 40px;
}
#ul1 img{
    width: 130px;
    height: 60px;
    position: relative;
    top: -8px;
    color: brown;
    
}


/* ============================logo image===========================*/

#firstlogo img{
    height: 200px;
    width: 300px;

}
#firstlogo{
    padding: 130px;
    
 
}
/* ============================seacr ke liye ===========================*/

input[type="search"]{
    width: 300px;
    height: 30px;
    border-radius: 30px;
    padding: 13px;
    position: absolute;
    top: 70px;
    
    position: absolute;
 margin-left: 550px;
 background-color: white;
 color: black;
 

} 

/* ============================ after navbar design button          ===========================*/


.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

.btn{
    display: inline-block;
background-color: rgba(164, 69, 45, 0.395);
    
    color: azure;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    

}
.btn:hover{
    
    background-color: yellow
}
/* ============================seacr ke liye ===========================*/
.card{
    width: 200px;
    height: 270px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 30px silver;
   margin: 10px;
}
.card1 img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px 0px 0px 0px;

    
}

.button1{
    width: 40%;
background-color: rgba(164, 69, 45, 0.395);
    
    color: black;
    padding: 0px;
    border-radius: 10px;
}
.button1:hover{
    background-color: black;
    color: white;
}
.card2{
    display: flex;
    justify-content: space-around;
}
.card2 div{
    width: 44px;
    height: 15px;
    margin: 5 px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(100, 59, 59);
    color: white;
}
.card1:hover{
    transform: scale(1.1);
}
#showcard{
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    gap: 10px;
    padding-bottom: 300px;
}
/* ============================seacr ke liye ===========================*/
.shipping{
    padding: 60px;
    display: flex;
    justify-content: center;
    color: white;
    padding: 0px;
}

/* ============================seacr ke liye ===========================*/
.information{
    display: flex;
    justify-content: center;
    
    background-color: rgb(92, 90, 90);
    color: azure;

}
.information div li a{
    font-size: 15px;
    color: white;
}
.heading{
    margin: 30px;
    display: flex;
    padding: 0px;
}
.heading h3{
    margin: 30px;
    
}